header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  width: 100%;
  background: var(--primary-color);
  padding: 0 1rem;
}

.header-logo {
  font-family: blanka;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--white-color);
  letter-spacing: 0.5rem;
}

.header-logo::first-letter {
  color: var(--second-color);
  font-size: 1.8rem;
}

.home-nav {
  width: 50%;
}

.home-nav ul {
  display: flex;
  justify-content: center;
}

.home-nav li {
  padding: 1rem;
  min-width: 2%;
  transition: all 1s ease;
  cursor: pointer;
}

.home-nav li:hover {
  background: var(--second-color);
}
